@use "../../styles/mixins" as mixins;

.layer {
  position: fixed;
  inset: 0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1400;
  background: var(--spui-color-surface-mask);
  padding: 20px;
  @include mixins.starting-style-appearance();
  @include mixins.custom-scrollbar();
  @include mixins.box-sizing-border-box();

  @include mixins.respond-to(sm) {
    padding: 32px;
  }

  @include mixins.respond-to(xl) {
    padding: 60px
  }

  &_hidden {
    visibility: hidden
  }
}