.complexTabsExample {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__tabContentWrapper {
    padding: 20px;
    border: 1px solid var(--spui-color-border-primary);
    border-radius: 8px;
  }
}

.differentTabsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__tabsGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}