@use "../../styles/global" as styles;

.spInput {
  // Общие стили блока
  $block: &;

  display: inline-flex;
  flex-direction: column;
  width: 100%;

  // Модификаторы
  &_error {
    & #{$block}__control {
      border-color: styles.$color-red;
      color: styles.$color-red;

      &:hover {
        &::placeholder {
          color: styles.$color-gray-1;
        }
      }
    }
  }

  // Элементы
  &__container {
    position: relative;
    width: 100%;
  }

  &__control {
    min-width: 100%;
    font-family: styles.$main-font;
    font-weight: 400;
    font-size: 16px;
    color: styles.$color-black;
    border: 2px solid styles.$color-alice-blue;
    background-color: styles.$color-alice-blue;
    padding: 11.5px 16px;

    @include styles.respond-to(sm) {
      font-size: 18px;
      padding: 16.5px 16px;
    }

    &_clearable {
      padding-right: 50px;
    }

    &::placeholder {
      color: styles.$color-gray-1;
    }

    &:hover {
      &::placeholder {
        color: styles.$color-black;
      }
    }

    &[disabled]:hover::placeholder {
      color: styles.$color-gray-1;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border: 2px solid styles.$color-accent-blue;
      background-color: transparent;

      &:hover {
        &::placeholder {
          color: styles.$color-gray-1;
        }
      }
    }
  }

  &__clear {
    color: styles.$color-gray-1;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__error {
    padding-top: 8px;
    font-family: styles.$main-font;
    font-weight: 400;
    font-size: 12px;
    color: styles.$color-red;

    @include styles.respond-to(sm) {
      font-size: 14px;
    }
  }
}