.storiesWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
}

.viewTextareaList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.viewTextareaListItem {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__description {
    color: var(--color-gray);
    font-weight: 500;
  }
}

.fluidHeightWrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.fluidHeightDemoContainer {
  height: 200px;
  border: 1px dashed #ccc;
  padding: 8px;
}