:root {
  /* ===== ТИПОГРАФИКА (семантические) ===== */
  --spui-font-weight-regular: 400;
  --spui-font-weight-medium: 500;
  --spui-font-weight-bold: 700;

  --spui-font-family-main: var(--font-family-hauss);
  --spui-font-family-title: var(--font-family-gorizont);

  --spui-font-heading-1: var(--spui-font-weight-bold) 48px/56px
  var(--spui-font-family-title);
  --spui-font-heading-2: var(--spui-font-weight-bold) 40px/48px
  var(--spui-font-family-title);
  --spui-font-heading-3: var(--spui-font-weight-bold) 32px/40px
  var(--spui-font-family-title);
  --spui-font-heading-4: var(--spui-font-weight-bold) 28px/32px
  var(--spui-font-family-title);
  --spui-font-heading-5: var(--spui-font-weight-bold) 0px/56px
  var(--spui-font-family-title);
  --spui-font-heading-6: var(--spui-font-weight-bold) 0px/56px
  var(--spui-font-family-title);

  --spui-font-text-p1-content: var(--spui-font-weight-regular) 20px/28px
  var(--spui-font-family-main);

  /* ===== ШКАЛА ОТСТУПОВ ===== */
  --spui-scale-0: 0px;
  --spui-scale-0-25x: 1px;
  --spui-scale-0-50x: 2px;
  --spui-scale-1x: 4px;
  --spui-scale-2x: 8px;
  --spui-scale-3x: 12px;
  --spui-scale-4x: 16px;
  --spui-scale-5x: 20px;
  --spui-scale-6x: 24px;
  --spui-scale-7x: 28px;
  --spui-scale-8x: 32px;
  --spui-scale-10x: 40px;
  --spui-scale-12x: 48px;
  --spui-scale-14x: 56px;
  --spui-scale-16x: 64px;
  --spui-scale-20x: 80px;

  /* ===== РАЗМЕРЫ КОНТРОЛОВ ===== */
  --spui-control-height-xs: 16px;
  --spui-control-height-sm: 24px;
  --spui-control-height-base: 32px;
  --spui-control-height-lg: 40px;
  --spui-control-height-xl: 56px;

  /* ALIAS-COLLECTION */
  /* ===== ШИРИНА ГРАНИЦ ===== */
  --spui-border-width-none: var(--spui-scale-0); /* 0px */
  --spui-border-width-sm: var(--spui-scale-0-25x); /* 1px */
  --spui-border-width-md: var(--spui-scale-0-50x); /* 2px */
  --spui-border-width-lg: var(--spui-scale-1x); /* 4px */

  /* ===== РАДИУС ГРАНИЦ ===== */
  --spui-border-radius-none: var(--spui-scale-0); /* 0px */
  --spui-border-radius-sm: var(--spui-scale-1x); /* 4px */
  --spui-border-radius-md: var(--spui-scale-2x); /* 8px */
  --spui-border-radius-lg: var(--spui-scale-4x); /* 16px */
  --spui-border-radius-xl: var(--spui-scale-8x); /* 32px */
  --spui-border-radius-full: 50%;

  /* ===== ОТСТУПЫ ===== */
  --spui-spacing-none: var(--spui-scale-0); /* 0px */
  --spui-spacing-1x: var(--spui-scale-1x); /* 4px */
  --spui-spacing-2x: var(--spui-scale-2x); /* 8px */
  --spui-spacing-3x: var(--spui-scale-3x); /* 12px */
  --spui-spacing-4x: var(--spui-scale-4x); /* 16px */
  --spui-spacing-5x: var(--spui-scale-5x); /* 20px */
  --spui-spacing-6x: var(--spui-scale-6x); /*24px*/
  --spui-spacing-8x: var(--spui-scale-8x); /* 32px */
  --spui-spacing-10x: var(--spui-scale-10x); /* 40px */
  --spui-spacing-12x: var(--spui-scale-12x); /* 48px */
  --spui-spacing-16x: var(--spui-scale-16x); /* 64px */
  --spui-spacing-20x: var(--spui-scale-20x); /* 80px */

  /* MAPPED-COLLECTION */
  /* ===== РАЗМЕРЫ ИКОНОК ===== */
  --spui-icon-size-xs: 16px;
  --spui-icon-size-sm: 20px;
  --spui-icon-size-base: 24px;
  --spui-icon-size-lg: 28px;
  --spui-icon-size-xl: 32px;

  /* ===== ЦВЕТА ТЕКСТА ===== */
  --spui-color-text-primary: var(--color-woodsmoke);
  --spui-color-text-secondary: var(--color-gray);
  --spui-color-text-tertiary: var(--neutral-600, lime);
  --spui-color-text-disabled: var(--color-gray);
  --spui-color-text-action: var(--color-accent-blue);
  --spui-color-text-action-hover: var(--color-aqua-blue);
  --spui-color-text-action-active: var(--color-green-blue);
  --spui-color-text-on-action: var(--color-white);
  --spui-color-text-error: var(--color-red);
  --spui-color-text-success: var(--color, lime);
  --spui-color-text-warning: var(--color, lime);
  --spui-color-text-info: var(--color, lime);

  /* ===== ЦВЕТА ИКОНОК ===== */
  --spui-color-icon-primary: var(--color-woodsmoke);
  --spui-color-icon-disabled: var(--color-gray);
  --spui-color-icon-action: var(--color-accent-blue);
  --spui-color-icon-action-hover: var(--color-aqua-blue);
  --spui-color-icon-action-active: var(--color-green-blue);
  --spui-color-icon-on-action: var(--color-white);
  --spui-color-icon-error: var(--color-red);
  --spui-color-icon-success: var(--color, lime);
  --spui-color-icon-warning: var(--color, lime);
  --spui-color-icon-info: var(--color, lime);

  /* ===== ЦВЕТА ГРАНИЦ ===== */
  --spui-color-border-primary: var(--color-light-steel);
  --spui-color-border-action: var(--color-accent-blue);
  --spui-color-border-action-hover: var(--color-aqua-blue);
  --spui-color-border-action-active: var(--color-green-blue);
  --spui-color-border-success: var(--color, lime);
  --spui-color-border-error: var(--color-red);
  --spui-color-border-warning: var(--color, lime);
  --spui-color-border-info: var(--color, lime);
  --spui-color-border-disabled: var(--color-light-steel);

  /* ===== ЦВЕТА ФОНА ===== */
  --spui-color-surface-page: var(--color-alice-blue);
  --spui-color-surface-default: var(--color-white);
  --spui-color-surface-secondary: var(--color-light-blue);
  --spui-color-surface-secondary-hover: var(--color-frost-blue);
  --spui-color-surface-secondary-active: var(--color-steel-gray);
  --spui-color-surface-tertiary: var(--neutral-100, lime);
  --spui-color-surface-action: var(--color-accent-blue);
  --spui-color-surface-action-hover: var(--color-aqua-blue);
  --spui-color-surface-action-active: var(--color-green-blue);
  --spui-color-surface-success: var(--success-50, lime);
  --spui-color-surface-warning: var(--warning-50, lime);
  --spui-color-surface-info: var(--primary-50, lime);
  --spui-color-surface-error: var(--error-50, lime);
  --spui-color-surface-disabled: var(--color-light-smoke);

  --psor-color-green-0: #ecfdf3;
  --psor-color-green-1: #abefc6;
  --psor-color-green-4: #067647;
}