:root {
  /* ===== Базовые цвета (Seed) ===== */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-woodsmoke: #131313;
  --color-red: #ff2e00;
  --color-red-hover: #e51722;
  --color-red-pressed: #ff1a26;
  --color-gray: #858585;
  --color-light-gray: #bbbbbb;
  --color-strange-gray: #d9d9d9;
  --color-accent-blue: #036bfd;
  --color-green-blue: #0255c9;
  --color-aqua-blue: #3588fd;
  --color-mramor-blue: #daeaff;
  --color-light-blue: #daeaff;
  --color-steel-gray: #c4d2e5;
  --color-frost-blue: #c6deff;
  --color-light-smoke: #f0f0f6;
  --color-light-steel: #c6d2e3;
  --color-alice-blue: #edf6fa;
  --color-green: #1edcaf;
  --color-dark-blue: #002a64;
  --color-mint: #cdfff3;
  --color-caribbean-green: #0cc79b;
  --color-green-emerald: #00c974;
  --color-orange-pizazz: #ff9500;
  --color-strange-blue: #edf6fa;
  --color-link-water: #cdd7e7;
  --color-light-red: #ffeaea;
  --color-light-green: #efffef;
  --color-gray-chicago: #555555;
  --color-light-orange: #fff9e3;

  /* ===== Типографика ===== */
  --font-family-hauss: "ALS_Hauss", Verdana, Arial, Sans-serif;
  --font-family-gorizont: "ALS_Gorizont 2.1", Verdana, Arial, Sans-serif;
}