// Цвета Сервис наименования ЦИМ
// Встречаются в сервисе наименования 3Д моделей АГР
$color-cim-white: #ffffff;
$color-cim-black: #000000;
$color-cim-woodsmoke: #131313;
$color-cim-red: #ff2e00;
$color-cim-red-hover: #e51722;
$color-cim-red-pressed: #ff1a26;
$color-cim-gray: #858585;
$color-cim-light-gray: #bbbbbb;
$color-cim-strange-gray: #d9d9d9;
$color-cim-accent-blue: #036bfd;
$color-cim-green-blue: #0255c9;
$color-cim-aqua-blue: #3588fd;
$color-cim-mramor-blue: #DAEAFF;
$color-cim-light-blue: #daeaff;
$color-cim-steel-gray: #c4d2e5;
$color-cim-frost-blue: #c6deff;
$color-cim-light-smoke: #f0f0f6;
$color-cim-light-steel: #c6d2e3;
$color-cim-alice-blue: #edf6fa;
$color-cim-green: #1edcaf;
$color-cim-dark-blue: #002a64;
$color-cim-mint: #cdfff3;
$color-cim-caribbean-green: #0cc79b;
$color-cim-green-emerald: #00c974;
$color-cim-orange-pizazz: #ff9500;
$color-cim-strange-blue: #EDF6FA;
$color-cim-new-blue: #F2FBFF;

// Цвета Сервис наименования 3Д моделей для АГР
$color-agr-deep-blue: #002A64;
$color-agr-accent-blue: #036BFD;
$color-agr-accent-blue-lighr: #4B89F5;
$color-agr-secondary-blue-light-dark: #C6D2E3;
$color-agr-secondary-blue-light: #DDEAFD;
$color-agr-black: #131313;
$color-agr-gray-1: #858585;
$color-agr-gray-2: #B5B5B5;
$color-agr-gray-3: #E6E6E6;
$color-agr-gray-4: #F0F0F6;
$color-agr-white: #FFFFFF;
$color-agr-white-80: rgba(255, 255, 255, 0.8);
$color-agr-white-64: rgba(255, 255, 255, 0.64);
$color-agr-white-30: rgba(255, 255, 255, 0.30);
$color-agr-white-20: rgba(255, 255, 255, 0.20);
$color-agr-white-16: rgba(255, 255, 255, 0.16);
$color-agr-rgba-19-32: rgba(19, 19, 19, 0.32);
$color-agr-rgba-19-15: rgba(19, 19, 19, 0.15);
$color-agr-rgba-187-20: rgba(187, 187, 187, 0.20);
$color-agr-table-font: #555555;
$color-agr-table-title-font: #aeaeae;
