$color-table-font: #555555;
$color-table-title-font: #aeaeae;
$color-aqua-blue: #3588fd;
$color-green-blue: #0255c9;
$color-deep-blue: #002a64;
$color-dark-blue: #0d50b4;
$color-accent-blue: #036bfd;
$color-accent-blue-light: #4b89f5;
$color-frost-blue: #c6deff;
$color-secondary-blue-light: #ddeafd;
$color-secondary-blue-light-2: #daeaff;
$color-secondary-blue-light-dark: #c6d2e3;
$color-steel-gray: #c4d2e5;
$color-very-light-blue-bg: #f7faff;
$color-very-light-blue-bg-2: #f2fbff;
$color-very-light-blue-bg-3: #f1f7ff;
$color-very-light-blue: #ebf3ff;
$color-alice-blue: #edf6fa;
$color-very-light-gray-background: #fcfcfc;
$color-black: #131313;
$color-black-90: hsla(0, 0%, 7%, .9);
$color-black-70: hsla(0, 0%, 7%, .7);
$color-black-32: hsla(0, 0%, 7%, .32);
$color-rgba-19-15: rgba(19, 19, 19, 0.15);
$color-black-1000: #000000;
$color-gray-1: #858585;
$color-gray-2: #b5b5b5;
$color-gray-3: #e6e6e6;
$color-gray-4: #f0f0f6;
$color-gray-4-transparent: rgba(240, 240, 246, .4);
$color-gray-light-transparent: rgba(221, 221, 229, .9);
$color-gray-5: #d9d9d9;
$color-gray-6: #e7e7f4;
$color-gray-7: #f9f9fc;
$color-gray-8: #f1f1f6;
$color-gray-9: #a0a0b9;
$color-gray-10: #555;
$color-gray-11: #2d2d2d;
$color-gray-12: #272727;
$color-gray-13: #dddde5;
$color-gray-416: rgba(245, 245, 247, .16);
$color-white: #ffffff;
$color-white-80: rgba(255, 255, 255, 0.8);
$color-white-64: rgba(255, 255, 255, 0.64);
$color-white-30: rgba(255, 255, 255, 0.30);
$color-white-20: rgba(255, 255, 255, 0.20);
$color-white-16: rgba(255, 255, 255, 0.16);
$color-red: #ff2e00;
$color-rgba-187-20: rgba(187, 187, 187, 0.20);
