@use "./colors" as *;

// Переменные для текста
$title-font: "ALSGorizont", Verdana, Arial, Sans-serif;
$main-font: "ALSHauss", Verdana, Arial, Sans-serif;

// Переменные для компонента <SPLabel />
$spLabel-mb: 8px;
$spLabel-offset: 5px;

// Для scrollbar
$scrollbar-width: 4px;
$scrollbar-track-background: "transparent";
$scrollbar-thumb-background: $color-aqua-blue;
$scrollbar-thumb-background-hover: $color-accent-blue;

$basic-transition-duration: 200ms;