@font-face {
  font-family: "ALSGorizont";
  src: url("/src/fonts/ALS_Gorizont_Regular_Expanded_2.1.woff2") format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ALSGorizont";
  src: url("/src/fonts/ALS_Gorizont_Medium_Expanded_2.1.woff2") format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ALSGorizont";
  src: url("/src/fonts/ALS_Gorizont_Bold_Expanded_2.1.woff2") format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ALSHauss";
  src: url("/src/fonts/ALS_Hauss_Regular_1.002.woff2") format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ALSHauss";
  src: url("/src/fonts/ALS_Hauss_Medium_1.2.woff2") format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ALSHauss";
  src: url("/src/fonts/ALS_Hauss_Bold_1.002.woff2") format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

$title-font: "ALSGorizont", Verdana, Arial, Sans-serif;
$main-font: "ALSHauss", Verdana, Arial, Sans-serif;