// Глобальные стили, которые должны быть доступны везде
@forward "colors";
@forward "fonts";
@forward "mixins";
@forward "constants";

@use './constants' as *;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-background;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-background;

  &:hover {
    background: $scrollbar-thumb-background-hover;
  }
}