// Сбрасываем стили
@use "../styles/reset";
// Подключаем include-tokens.scss с объявлением переменных
@use "../styles/include-tokens";
// Подключаем шрифты
@use "../styles/fonts";

.storyWrapper {
  min-height: 30vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}