.defaultTooltipTrigger {
  font-weight: var(--spui-font-weight-medium);
  padding: var(--spui-spacing-3x) var(--spui-spacing-5x);
  border: var(--spui-border-width-sm) dashed var(--color-accent-blue);
  color: var(--color-accent-blue);
  border-radius: var(--spui-border-radius-md);
  background-color: var(--spui-color-surface-secondary);
}

.clickableTooltipTrigger {
  color: var(--green-dark);
  background-color: var(--green-light);
  border-color: var(--green-dark);
}

.toggleClickableTooltipTrigger {
  color: var(--purple-dark);
  background-color: var(--purple-light);
  border-color: var(--purple-dark);
}

.iconTooltipWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconTooltipTrigger {
  color: var(--color-accent-blue);
  width: var(--spui-icon-size-sm);
  height: var(--spui-icon-size-sm);
}

.allPositionTooltipWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
  max-width: 800px;

  &__item {
    display: flex;
    justify-content: center;
  }
}

.allPositionTooltipTrigger {
  padding: 6px 10px;
  min-width: 80px;
  text-align: center;
}

.richContentTooltipTextWrapper {
  max-width: 250px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    color: var(--color-accent-blue);
    font-weight: 500;
  }

  &__subtitle {
    font-size: 14px;
  }

  &__list {
    margin: 8px 0;
    padding-left: 16px;
  }

  &__description {
    font-size: 12px;
    color: var(--color-gray);
  }
}

.noPaddingTooltipTextWrapper {
  border-radius: 6px;
  background-color: var(--color-aqua-blue);
  color: var(--color-white);
  font-size: 14px;
  padding: 6px;
}

.actionCallbacksTooltipWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__logsWrapper {
    padding: 12px;
    background-color: var(--spui-color-gray-100);
    border-radius: 4px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0;
      padding: 0;

      &__item {
        font-family: monospace;
        font-size: 12px;
      }
    }

    &__description {
      font-size: 12px;
      color: var(--color-gray);
      font-style: italic;
    }
  }
}

.stopPropagationTooltipWrapper {
  padding: 30px;
  border-radius: 8px;
  border: var(--spui-border-width-md) solid var(--green-dark);
  color: var(--green-dark);
  background-color: var(--green-light);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    font-weight: 500;
    color: var(--green-dark);
  }
}