@use "/src/styles/global" as styles;

.typesColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.ellipsisBox {
  width: 200px;
  border: 1px solid #eee;
  padding: 10px;
}

.allTypesColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}
