@use "../../styles/main" as styles;

.spTooltip {
  $block: &;

  position: relative;

  &_hover:hover > #{$block}__spTooltip_visible {
    visibility: visible;
    opacity: 1;
  }

  &__spTooltip {
    visibility: hidden;
    opacity: 0;
    @include styles.transition-prop-ease-in-out(opacity, 200);

    &_isOpen {
      &#{block}_visible {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}